body {
  background-color: red;
  background-image: url(af0b028f5952f9ad22b24989eb18121b.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

